In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import glob

In [8]:
#the supplied CSV file is in the raw_data directory and was uploaded from kaggle: 
#https://www.kaggle.com/okwirjulius/covid19-cases-in-africa

# get data file names
path =r'..\raw_data\covid_case_files'
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)
big_frame

,ObservationDate,Country_Region,Province_State,Confirmed,Deaths,Recovered,Active
0,2020-01-22,China,Anhui,1,0.0,0.0,0.0
1,2020-01-22,China,Beijing,14,0.0,0.0,0.0
2,2020-01-22,China,Chongqing,6,0.0,0.0,0.0
3,2020-01-22,China,Fujian,1,0.0,0.0,0.0
4,2020-01-22,China,Gansu,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
2101378,2020-12-31,Vietnam,NaN,1465,35.0,1325.0,105.0
2101379,2020-12-31,West Bank and Gaza,NaN,138004,1400.0,117183.0,19421.0
2101380,2020-12-31,Yemen,NaN,2099,610.0,1394.0,95.0
2101381,2020-12-31,Zambia,NaN,20725,388.0,18660.0,1677.0
2101382,2020-12-31,Zimbabwe,NaN,13867,363.0,11250.0,2254.0